a.site-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: -1px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
        font-style: italic;
}

.start-title {
    font-size: 70px;
    font-weight: 300;
        line-height: 40px;
    text-align: center;
}

.multicols {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

  @media screen and (max-width: $content-width) {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
  }
}

.image {
    overflow: hidden;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    border: 0px solid $grey-color;

}

.contents-image {
  display: block;
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid $text-color;
}

.caption {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.sub-title {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
}

.page-title {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -1px;
}

table {
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-collapse: separate;
    border-spacing: 40px 0;
    overflow-x: auto;
	display: block;
}

table.header-table {
    margin-left:auto; 
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-collapse: separate;
    border-spacing: 5px 0;
}

thead{
    font-style: italic;

}

tfoot {
    font-weight: bold;
}
