<!DOCTYPE html>
<html>
  {% include head.html %}
  <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

  <body>
    <div class="page-content">
      <div class="wrapper">
        <table class="header-table">
          <tr>
           <th><a class="site-title" href="{{ site.baseurl }}/">Home&nbsp</a></th>
           <th style="font-weight: normal;">§</th>
           <th> <a class="site-title" href="{{ site.baseurl }}/contents.html">Contents</a></th>
          </tr>
        </table>
        
        <br>
        <p class="page-title">{{ page.title }}</p>
        <br><br>
        {{ content }}
      </div>
    </div>
  </body>
</html>
